<% visitor = notification.visitor %>
<% goal = notification.goal %>

<div class="user-view clearfix">
  <%= link_to user_path(notification.visitor) do %>
    <% if visitor.avatar.attached? %>
      <%= image_tag visitor.avatar, class:"user-thumb" %>
    <% else %>
      <%= image_tag "kkrn_icon_user_14.png" %>
    <% end %>
    <%== notification_form(notification) %>
    <span class="moderate-font"><%= "(#{time_ago_in_words(notification.created_at)}å‰)" %></span>
  <% end %>
</div>