<div id="follow_form" class="mt-3">
<% if current_user.following?(@user) %>
  <% if guestuser? %>
    <button class="btn btn-large btn-primary-black follow-btn">フォローを外す</button>
    <%= guestuser_phrase %>
  <% else %>
    <%= form_for(current_user.following_relationships.find_by(following_id: @user.id), html: { method: :delete }) do |f| %>
      <div><%= f.hidden_field :following_id %></div>
      <%= f.submit "フォローを外す", class: "btn btn-large btn-primary-black follow-btn" %>
    <% end %>
  <% end %>
<% else %>
  <% if guestuser? %>
    <button class="btn btn-large btn-primary-black follow-btn">フォローする</button>
    <%= guestuser_phrase %>
  <% else %>
    <%= form_for(current_user.following_relationships.build(following_id: @user.id)) do |f| %>
      <div><%= f.hidden_field :following_id %></div>
      <%= f.submit "フォローする", class: "btn btn-large btn-primary-black follow-btn" %>
    <% end %>
  <% end %>
<% end %>
</div>