<h2><%= @user.username %>さんのgoal<h2>

<% @goals.each do |goal| %>
  <div class="card">
    <div class="card-body">
        <h5 class="card-title"><%= link_to goal.title, goal %></h5>
        <h6 class="card-subtitle"><%= start_day_state(goal) %></h6>
        <h6 class="card-subtitle"><%= due_day_state(goal) %></h6>
        <p class="card-text"><%= goal.description %></p>
    </div>
  </div>
<% end %>