<div class=container>
  <h1>Users#show</h1>
  <h2><%= @user.email %></h2>
  <%= render 'follow_stats' %>
  <%= render 'follow_form' %>
  <% if current_user == @user %>
    <%= link_to "新規投稿", new_goal_path, {class: "btn btn-large btn-primary"} %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>my_goal<h2>
        <ul "list-group">
          <% @goals.each do |goal| %>
            <li class="list-group-item">title:<%= link_to goal.title, goal_path(goal.id) %></li>
            <li class="list-group-item">description:<%= goal.description %></li>
          <% end %>
        </ul>
    </div>

    <div class="col">
      <h2>following_goal<h2>
        <ul "list-group">
          <% @user.followings.each do |f| %>
            <% f.goals.each do |g| %>
              <li class="list-group-item">title:<%= link_to g.title, goal_path(g.id) %></li>
              <li class="list-group-item">description:<%= g.description %></li>
            <% end %>
          <% end %>
        </ul>
    </div>
  </div>
</div>