<h1>Users#show</h1>
<p>ユーザページ <%= @user.email %></p>
<h2>目標一覧<h2>

<%= render 'layouts/stats' %>
<%= render 'layouts/follow_form' %>

<% if current_user == @user %>
  <%= link_to "新規投稿", new_goal_path %>
<% end %>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= link_to goal.id, goal_path(goal.id) %></td>
        <td><%= goal.title %></td>
        <td><%= goal.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>