<div class=container>
  <h1>Users#show</h1>
  <h2><%= @user.username %></h2>
  <%= render 'follow_stats' %>
  <%= render 'follow_form' %>
  <% if current_user == @user %>
    <%= link_to "新規投稿", new_goal_path, {class: "btn btn-large btn-primary"} %>
  <% end %>
</div>

<% if current_user == @user %>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= render 'my_goals' %>
      </div>
      <div class="col-sm-6">
        <%= render 'following_goals' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <%= render 'mygoals' %>
  </div>
<% end %>