<div class="card">
  <div class="card-body">
    <h5 class="card-title">タイトル：<%= link_to goal.title, goal %>
      <% if !(current_user.id == goal.user_id) %>
        　ユーザ：<%= link_to goal.user.username, user_path(goal.user_id) %>
      <% end %>
    </h5>
    <h6 class="card-subtitle"><%= start_day_state(goal) %>　<%= due_day_state(goal)%>　<%= goal_state(goal)%></h6>
    <h3 class="card-text mt-2"><%= goal.description %></h3>
    <% if goal.steps.count > 0 %>
      <div class="col"><%= render partial: 'goals/step_each', collection: goal.steps, as: :step %></div>
    <% end %>
  </div>
</div>