<div class="card">
  <div class="card-body">
      <h6 class="card-title"><%= step.title %></h6>
      <h6 class="card-subtitle"><%= start_day_state(step) %>  <%= due_day_state(step)%>  <%= goal_state(step)%></h6>
      <p class="card-text"><%= step.description %> </p>
  </div>
</div>