<h1>Goals#new</h1>
<h2>目標新規作成<h2>

<%= form_with model: @goal do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @goal.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <% @goal.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>