<p>検索</p>
<%= render "layouts/search_form" %>

<ul><% @goals.each do |goal| %>
  <li>
    <%= link_to goal.title, goal %>
    <%= goal.created_at %>
  </li>
  <%= link_to "編集",edit_goal_path(goal) %>
  <%= link_to "削除",goal, method: :delete %>
  <% end %>
</ul>