<h1>Goals#show</h1>
<h2><%= link_to @goal.user.email, user_path(@goal.user) %><h2>

<div>目標詳細</div>

<div>
  <p>id</p>
  <%= @goal.id %>
  <p>title</p>
  <%= @goal.title %>
  <p>description</p>
  <%= @goal.description %>
</div>

<%= link_to "Edit", edit_goal_path(@goal) %>
<%= link_to "Delete", goal_path(@goal), method: :delete %>

<div>コメント新規投稿</div>

<%= form_with(model: @comment, url: comments_path ) do |form| %>
  <div class=field>
    <%= form.label :content %><br>
    <%= form.text_field :content %><br>
    <%= form.hidden_field :goal_id, value: @goal.id %>
    <% @goal.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<div>コメント一覧</div>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.content %></td>
        <td><%= link_to comment.user.email, user_path(comment.user_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>