<%= form_with scope: :search, url: search_path, method: :get, local: true do |f| %>
  <div class=search_field>
    <%= f.select :range, options_for_select([['User'], ['Goal'], ['Comment']]) %>
    <%= f.select :search_pattern, options_for_select([["and","and_match"], ["or","or_match"]]) %>
    <%= f.text_field :keyword %>
    <%= f.submit "search" %>
  </div>
<% end %>