<!DOCTYPE html>
<html>
  <head>
    <title>Webapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <div class="debug-param small mt-5">
      <%= "debug(params)" if Rails.env.development? %>
      <%= debug(params) if Rails.env.development? %>
      <%= "debug(@user)" if Rails.env.development? %>
      <%= debug(@user) if Rails.env.development? %>
      <%= "debug(@goal)" if Rails.env.development? %>
      <%= debug(@goal) if Rails.env.development? %>
      <%= "debug(@goals)" if Rails.env.development? %>
      <%= debug(@goals) if Rails.env.development? %>
    <div>
  </body>
</html>